<template>
    <div class="storeInBoxCss">
        <!-- 名称行 -->
        <div class="SINameCss">
            <div class="SINameItemCss" style=" background-color: rgba(33, 145, 145,0.6);">设备号</div>
            <div class="SINameItemCss">是否激活</div>
            <div class="SINameItemCss" style=" background-color: rgba(33, 145, 145,0.6);">出库时间</div>
            <div class="SINameItemCss">操作人</div>
        </div>

        <!-- 数据行 -->
        <div style=""  class="SIdataCss" > 
            <div class="SIValueCss" v-for="item in UI" >
                <div class="SIValueItemCss" style=" background-color: rgba(33, 145, 145,0.5); border-bottom:1px solid rgb(27, 194, 194);">{{item.imei}}</div>            
                <div class="SIValueItemCss" style=" border-bottom:1px solid rgb(27, 194, 194);">
                    <div v-if="!item.isActivated" class="redCss">未激活</div>
                    <div v-else class="greenCss">已激活</div>
                </div>
                <div class="SIValueItemCss" style=" background-color: rgba(33, 145, 145,0.5);  border-bottom:1px solid rgb(27, 194, 194);">{{item.inputDate}}</div>
                <div class="SIValueItemCss" style=" border-bottom:1px solid rgb(27, 194, 194);border-right:1px solid rgb(27, 194, 194);">{{item.personName}}</div>
            </div>
        </div>

         <!-- 翻页器 -->
        <div style="
                position:fixed;
                bottom:10px;
                right:30px;
                display:flex;
                cursor:pointer
            ">
                <!-- 左箭头 -->
                <div class="pageSelect"
                    v-bind:style="{
                        'color': pageCtl.leftArrowColor,
                    }"
                    @click="pageChange(0)">
                   <Icon type="chevron-left"></Icon>
                </div>
                <!-- 页1 -->
                <div class="pageSelect"
                    v-bind:style="{
                        'background-color':pageCtl.page1Color,
                    }"
                    @click="pageChange(1)">
                    {{pageCtl.startPage}}
                </div>
                <!-- 页2 -->
                <div class="pageSelect" 
                    v-bind:style="{
                        'background-color':pageCtl.page2Color,
                    }"
                    @click="pageChange(2)">
                    {{pageCtl.startPage+1}}
                </div>
                <!-- 页3 -->
                <div class="pageSelect"
                    v-bind:style="{
                        'background-color':pageCtl.page3Color,
                    }" 
                    @click="pageChange(3)">
                    {{pageCtl.startPage+2}}
                </div>
                <!-- 页4 -->
                <div class="pageSelect" 
                    v-bind:style="{
                        'background-color':pageCtl.page4Color,
                    }"
                    @click="pageChange(4)">
                    {{pageCtl.startPage+3}}
                </div>
                <!-- 页5 -->
                <div class="pageSelect" 
                    v-bind:style="{
                        'background-color':pageCtl.page5Color,
                    }"
                    @click="pageChange(5)">
                    {{pageCtl.startPage+4}}
                </div>
                <!--右箭头 -->
                <div class="pageSelect" @click="pageChange(6)">
                   <Icon type="chevron-right"></Icon>
                </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            /*************************************************/
            // 路由
            route:{
                url:'',
                getData:"",
            },
            // UI数据
            UI:[],
            // 原始数据
            Raw:[],
            /*************************************************/
            // 分页器颜色
            pageCtl:{
                startPage:1,
                curPage:1,
                leftArrowColor:'#060914',
                page1Color:'#12173c',
                page2Color:'#363958',
                page3Color:'#363958',
                page4Color:'#363958',
                page5Color:'#363958',
            },
        }
    },

    mounted(){
        /****************************************/
        // 动态配置路由
        var myConfig = require('../myConfig.json')
        var versionType = myConfig.host.versionType;
        if(versionType == 'Test'){
            this.route.url = myConfig.host.test_url;
        }else if(versionType == 'Formal'){
            this.route.url = myConfig.host.Formal_url;
        }
        this.route.getData =  this.route.url + myConfig.wareHouse.getOutData;
        
        // 读取数据
        this.readData();
    },

    methods:{
        /*******************************************/
        // 读取数据
        readData(){
            var self = this;
            console.log('向 ',this.route.getData,' 发送get请求...');
            // 发送请求
            this.$http.get(this.route.getData).then(
                function(res){
                    res = res.body;
                    console.log("读到出库数据: ",res);
                    if(res.suc){
                        self.$Notice.success({
                            title:"出库数据读取 成功"
                        });
                        self.Raw = res.data;
                        // 更新页面
                        self.updateUI();
                    }
                    else{
                        self.$Notice.error({
                            title:"出库数据读取 失败"
                        });
                        self.UI = [];
                    }
                }
            ).catch(function(err){
                self.$Notice.error({
                    title:"出库数据读取 异常"
                });
                self.UI = [];
            })
        },
        // 刷新页面
        updateUI(){
            // 1,清空UI数组
            this.UI = []
            // 2,赋值
            for(var i = 0;i < this.Raw.length;i++){
                var newItem = {};
                if(this.Raw[i].imei == '' || this.Raw[i].imei == null) newItem.imei = '-- --';
                else newItem.imei = this.Raw[i].imei;

                if(this.Raw[i].isActived == '' || this.Raw[i].isActived == null)  newItem.isActivated = false;
                else{
                    if(this.Raw[i].isActived == 1) newItem.isActivated = true;
                    else newItem.isActivated = false;
                }  

                if(this.Raw[i].inputDate == '' || this.Raw[i].inputDate == null) newItem.inputDate = '-- --';
                else newItem.inputDate = this.Raw[i].inputDate;

                if(this.Raw[i].personName == '' || this.Raw[i].personName == null) newItem.personName = '-- --';
                else newItem.personName = this.Raw[i].personName;

                this.UI.push(newItem);
            }
        },
        /******************** 翻页器 *****************************/
        // 1, 辅助函数 ---> 改变颜色
        help_pageHighlignt(page){
            if(page == 0){
                this.pageCtl.page1Color = '#12173c';
                this.pageCtl.page2Color = '#363958';
                this.pageCtl.page3Color = '#363958';
                this.pageCtl.page4Color = '#363958';
                this.pageCtl.page5Color = '#363958';
            }else if(page == 1){
                this.pageCtl.page2Color = '#12173c';
                this.pageCtl.page1Color = '#363958';
                this.pageCtl.page3Color = '#363958';
                this.pageCtl.page4Color = '#363958';
                this.pageCtl.page5Color = '#363958';
            }else if(page == 2){
                this.pageCtl.page3Color = '#12173c';
                this.pageCtl.page1Color = '#363958';
                this.pageCtl.page2Color = '#363958';
                this.pageCtl.page4Color = '#363958';
                this.pageCtl.page5Color = '#363958';
            }else if(page == 3){
                this.pageCtl.page4Color = '#12173c';
                this.pageCtl.page1Color = '#363958';
                this.pageCtl.page2Color = '#363958';
                this.pageCtl.page3Color = '#363958';
                this.pageCtl.page5Color = '#363958';
            }else if(page == 4){
                this.pageCtl.page5Color = '#12173c';
                this.pageCtl.page1Color = '#363958';
                this.pageCtl.page2Color = '#363958';
                this.pageCtl.page3Color = '#363958';
                this.pageCtl.page4Color = '#363958';
            }else{
                this.pageCtl.page5Color = '#363958';
                this.pageCtl.page1Color = '#363958';
                this.pageCtl.page2Color = '#363958';
                this.pageCtl.page3Color = '#363958';
                this.pageCtl.page4Color = '#363958';
            }
        },
        pageChange(val){
            // 向左翻页
            if(val == 0){
                if(this.pageCtl.startPage == 1){
                    this.pageCtl.leftArrowColor = "#060914";
                }else if(this.pageCtl.startPage == 2){
                    this.pageCtl.leftArrowColor = "#060914";
                    this.pageCtl.startPage = 1;
                }else{
                    this.pageCtl.startPage -= 1;
                }
            }else if(val == 1){
                this.pageCtl.curPage = this.pageCtl.startPage;
            }else if(val == 2){
                this.pageCtl.curPage = this.pageCtl.startPage + 1;
            }else if(val  == 3){
                this.pageCtl.curPage = this.pageCtl.startPage + 2;
            }else if(val  == 4){
                this.pageCtl.curPage = this.pageCtl.startPage + 3;
            }else if(val  == 5){
                this.pageCtl.curPage = this.pageCtl.startPage + 4;
            }else if(val  == 6){
                this.pageCtl.leftArrowColor = "white";
                this.pageCtl.startPage += 1;
            }
            this.help_pageHighlignt(this.pageCtl.curPage - this.pageCtl.startPage);

            // 读取页面数据
            if(val !=0 && val != 6){
            }
        },
    }
}
</script>

<style scoped>
/* 外面的盒子 */
.storeInBoxCss{
    width:100%;
    height: calc( 100% - 60px);
}
/* 名称行 */
.SINameCss{
    width: calc( 90% + 20px );
    margin-top:50px;
    margin-left: 5%;
    /* padding-right:20px; */

    height: 50px;

    border:1px solid rgb(27, 194, 194);
    display: flex;
    justify-content: flex-start;
}
.SINameItemCss{
    width: calc( 25% - 4px ) ;
    height: 100%;
    color: white;
    font-size: 15px;
   
    /* 居中 */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 数值行 */
.SIdataCss{
    height:70%;
    width: calc( 90% + 20px );
    margin-left: 5%;
    overflow-y:scroll;
    overflow-x:hidden; 

}
.SIValueCss{
    width:100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
}
.SIValueItemCss{
    width: 25%;
    height: 100%;
    color: white;
    font-size: 15px;
   
    /* 居中 */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 未激活 */
.redCss{
    width:80px;
    height: 20px;
    background-color: red;
    border-radius: 20px;
}
/* 已激活 */
.greenCss{
    width:80px;
    height: 20px;
    background-color: green;
    border-radius: 20px;
}
/************ 分页器样式 *******************************/
.pageSelect{
    width:40px; 
    height:40px;
    margin-left:5px;
    background-color: #363958;
    border-radius: 10px;
    color:white;
    text-align: center;
    font-size:25px;
}
</style>
