<template>
    <div class="bgBoxCss">
        <div class="loginBoxCss">
            <!-- 电曹操 -->
            <div class="diancaocaoCss">电曹操</div>
            <!-- 图片 -->
            <img src="https://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_caocao.png" 
                 style="width:200px; height:200px; margin-top:20px;"/>
            <!-- 手机号 -->
            <div class="telephoneCss">
                <img src="https://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_user.png" 
                     style="width:30px; height:30px;"/>
                <input placeholder="请输入手机号" class="telephoneInputCss" @keyup="checkInput" v-model="userName"/>
            </div>
            <!-- 验证码 -->
            <div class="smsCss">
                <!-- 验证码输入 -->
                <div class="smsCodeCss">
                    <img src="https://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_passwd.png" 
                        style="width:25px; height:25px;"/>
                    <input placeholder="请输入验证码" class="smsCodeInputCss"  @keyup="sms_checkInput" v-model="smsCode"/>
                </div>
                <!-- 发送验证码 -->
                <Button type="error" class="smsBtnCss"
                        v-bind:style="{
                            'cursor':pointerCtr.pointerState,
                            'background':smsBtnColor,
                        }" @click = "sendSmsCode"
                        >{{pointerCtr.btnInfo}}
                        <span v-if="pointerCtr.showCounter">({{pointerCtr.counter}}s)</span>    
                </Button>
            </div>
            <!-- 加盟商登陆 -->
            <div style="width:80%; height:30px;margin-top:2%; display:flex;margin-left:10%;">
                <div style="
                        width:20px; height:20px;
                        border:1px solid white;
                        margin-top:5px;
                        cursor:pointer;
                        font-size:15px; color:white;
                    " @click="allayChooose">{{isAllay}}
                </div>
                <div style="
                    font-size:15px;
                    color:white;
                    margin-top:5px;
                    margin-left:10px;
                    ">
                    加盟商登陆</div>
            </div>
            <!-- 登录 -->
            <div class="logCss"  @click="userLogin">登录</div>
        </div>
    </div>
</template>

<script>
export default {
    data:function(){
        return{
            /************** 输入控制 ******************/
            userName:"",
            smsCode:"",
            smsBtnColor:'#D01D25',
            isAllay:'',             // 是否是加盟商
            /************** 显示动态加载 ***************/
            opts : {
                lines: 13, // 花瓣数目
                length: 20, // 花瓣长度
                width: 10, // 花瓣宽度
                radius: 30, // 花瓣距中心半径
                corners: 1, // 花瓣圆滑度 (0-1)
                rotate: 0, // 花瓣旋转角度
                direction: 1, // 花瓣旋转方向 1: 顺时针, -1: 逆时针
                color: 'white', // 花瓣颜色
                speed: 1, // 花瓣旋转速度
                trail: 60, // 花瓣旋转时的拖影(百分比)
                shadow: true, // 花瓣是否显示阴影
                hwaccel: false, //spinner 是否启用硬件加速及高速旋转            
                className: 'spinner', // spinner css 样式名称
                zIndex: 2e9, // spinner的z轴 (默认是2000000000)
                top: '20%', // spinner 相对父容器Top定位 单位 px
                left: '50%'// spinner 相对父容器Left定位 单位 px
            },
            spinner:"",
            /*************** pointer控制 *****************/
            pointerCtr:{
                btnInfo:"发送验证码",      // 按钮上的字符             
                pointerState:"pointer",   // not-allowed
                counter:60,                // 计时器
                resetCounter:60,
                showCounter:false,
            },
            /**************** 路由 ************************/
            routers:{
                Host:null,
                franchiser:"",
                Data_franchiser:{
                    agentId:2,
                    phoneNumber:'',
                }
            },
            
        }
    },
    mounted:function(){
        document.body.style.background="url(http://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_bg1.jpg) no-repeat fixed top";
       
        /************** 动态配置服务器版本 ********************************************/
        var myConfig = require('../myConfig.json')
        var versionType = myConfig.host.versionType;
        if(versionType == 'Test'){
            this.routers.Host = myConfig.host.test_url;
        }else if(versionType == 'Formal'){
            this.routers.Host = myConfig.host.Formal_url;
        }
        this.routers.franchiser = this.routers.Host + myConfig.login.franchiser;
        this.routers.loginPermission = this.routers.Host + myConfig.login.loginPermission;
        /***************************************************************************/

        this.goDirect();
    },
    methods:{
        /*********** 加盟商身份选择 ************/
        allayChooose(){
            if(this.isAllay == ''){
                this.isAllay = '√'
            }else{
                this.isAllay = ''
            }
        },
        /*********** 页面功能逻辑 **************/
        checkInput(){
            var changedValue= this.userName.replace(/[^\d]/g,'')
            if(changedValue != this.userName){
                this.$Modal.error({
                    title:"输入有错",
                    content:"请输入数字，如123456"
                })
                this.userName = "";
            }
        },
        sms_checkInput(e){
            // 登陆回车支持
            if(e.keyCode == 13){
                this.userLogin();
                return;
            }
            var changedValue= this.smsCode.replace(/[^\d]/g,'')
            if(changedValue != this.smsCode){
                this.$Modal.error({
                    title:"输入有错",
                    content:"请输入数字，如123456"
                })
                console.log("删除之后的数据是: ",changedValue);
                this.smsCode = "";
            }
        },
        /************ 直接拿权限进入页面 ***********************/
        goDirect(){
            var self = this;
            // 1,以 非加盟商登录
            if(localStorage.hasOwnProperty('AUTHED_TEL')){
                var telnum = localStorage.getItem("AUTHED_TEL");
                console.log("非加盟商: 预存手机号: ",telnum);
                var url = self.routers.loginPermission + telnum +"&agentId=2";
                console.log("正在向 ",url," 发送get请求进行权限验证测试");
                self.$http.get(url).then(
                    function(res){
                        res = res.body;
                        console.log(url,"回复: ",res);
                        if(res.suc == true){
                            self.$Notice.success({
                                title:"登陆成功",
                            })
                            // 3,跳转页面
                            localStorage.setItem("USER_LEVEL",res.data.level);      // 设置level
                            self.$router.push({path:"/Main"});
                            return;
                        }else{
                            // 4,提示没有权限,不跳转页面
                            self.$Modal.error({
                                title:"权限验证失败",
                                content:"您没有权限，请向管理员请求权限"
                            })
                        }
                    }
                ).catch(err=>{
                    // 4,提示没有权限,不跳转页面
                    self.$Modal.error({
                        title:"权限验证 异常",
                        content:"您没有权限，请向管理员请求权限"
                    })
                })
            }
            // 2,以 加盟商登录
            else if(localStorage.hasOwnProperty('Franchiser_TEL') ){
                var telnum = localStorage.getItem("Franchiser_TEL");
                console.log("加盟商: 预存手机号: ",telnum);
                
                this.routers.Data_franchiser.phoneNumber = telnum;
                console.log("正在向 ",this.routers.franchiser," 发送",this.routers.Data_franchiser,"进行 加盟商 权限验证测试");
                self.$http.post(
                    this.routers.franchiser,
                    this.routers.Data_franchiser,
                    {emulateJSON:true}
                    ).then(
                    function(res){
                        res = res.body;
                        console.log("加盟商权限回复: ",res);
                        if(res.data.isAlly == true){
                            self.$Notice.success({
                                title:"登陆成功",
                            })
                            
                            // 3,跳转页面
                            localStorage.setItem("USER_LEVEL",-1);      // 设置 加盟商的level是-1
                            localStorage.setItem("allyId",res.data.allyId);      // 设置 加盟商的level是-1
                            self.$router.push({path:"/Main"});
                        }else{
                            // 4,提示没有权限,不跳转页面
                            self.$Modal.error({
                                title:"权限验证失败",
                                content:"您没有权限，请向管理员请求权限"
                            })
                        }
                    }
                ).catch(err=>{
                    // 4,提示没有权限,不跳转页面
                    self.$Modal.error({
                        title:"权限验证失败",
                        content:"您没有权限，请向管理员请求权限"
                    })
                })
            }
            // 3,之前没登陆过,进行登陆操作
            else{
                console.log("首次登陆");
            }
        },
        /************ 发送验证码 ******************************/
        sendSmsCode(){
            var self = this;
            /************** 错误检查 *************************************/
            if(self.userName == "" || self.userName == "Telephone" || self.userName.length != 11){
                self.$Modal.info({
                    content:"无效手机号"
                })
                return;
            }
            if(this.smsBtnColor == 'gray'){
                console.log("禁止时点击");
            }
            /*************** 发送验证码 ***********************************/
            else{
                // 1,颜色置灰
                self.smsBtnColor = 'gray';
                // 2,按钮文本改成 重新发送
                self.pointerCtr.btnInfo = "重新发送";
                // 3,显示倒计时
                self.pointerCtr.showCounter = true;
                // 4,按钮变成禁止点击
                self.pointerCtr.pointerState = 'not-allowed';
                // 5,开始计时
                var timer = setInterval(function(){
                    if(self.pointerCtr.counter > 0){
                        self.pointerCtr.counter = self.pointerCtr.counter - 1;
                    }else{
                        // 1分钟过去,允许重新发送
                        // 1,颜色置亮
                        self.smsBtnColor = '#8470FF';
                        // 2,按钮文本改回 发生验证码
                        self.pointerCtr.btnInfo = "发送验证码";
                        // 3,关闭倒计时,重置counter值
                        self.pointerCtr.showCounter = false;
                        self.pointerCtr.counter = self.pointerCtr.resetCounter;
                        // 4,按钮变成允许点击
                        self.pointerCtr.pointerState = 'pointer';
                        // 5,结束计时
                        clearInterval(timer)
                    }
                    console.log(self.pointerCtr.counter,'s');
                },1000);
                // 6,发送验证
                AV.Cloud.requestSmsCode({
                    mobilePhoneNumber: self.userName,
                    name: '恒基共享运营平台',
                    op: '登陆验证',
                    ttl: 1            // 验证码有效时间为 3 分钟
                }).then(function(suc){
                        self.$Notice.success({
                            title:"短信发送成功"
                        })  
                        self.smsBtnColor = 'gray';
                    },function(err){
                        self.$Modal.error({
                            title:"短信发送出错"
                        })    
                    }
                ).catch(err=>{
                    self.$Modal.error({
                        title:"短信发送次数超量"
                    })
                })
            }
        },
        /************ 登录判断 ********************************/
        userLogin:function(){
            var self = this;

            /************** 错误检查 *************************************/
            if(self.userName == "" || self.userName == "Telephone" || self.userName.length != 11){
                self.$Modal.info({
                    content:"无效手机号"
                })
                return;
             }
            else if(this.smsCode == '' || this.smsCode == '验证码' ||this.smsCode.length != 6 ){
                self.$Modal.info({
                    content:"无效验证码"
                })
                return;
            }
            /************** 登陆 *****************************************/
            // 1,打开加载条
            self.spinner = new Spinner(self.opts);
            $("#firstDiv").text("");
            var target = $("#firstDiv").get(0);
            self.spinner.spin(target);

            // 2,以 加盟商的身份登陆
            if(this.isAllay == '√'){
                AV.Cloud.verifySmsCode(self.smsCode, self.userName).then(
                    // 3,短信验证成功
                    function(){
                        self.spinner.spin();
                        console.log("验证成功");
                        self.$Notice.success({
                            title:"短信验证成功",
                        })
                        // 4,验证通过,保存 加盟商电话
                        localStorage.setItem('Franchiser_TEL',self.userName);
                        // 5,检查权限
                        self.routers.Data_franchiser.phoneNumber = self.userName;
                        console.log("正在向 ",self.routers.franchiser," 发送",self.routers.Data_franchiser,"进行 加盟商 权限验证测试");
                        self.$http.post(
                            self.routers.franchiser,
                            self.routers.Data_franchiser,
                            {emulateJSON:true}
                            ).then(
                            function(res){
                                res = res.body;
                                console.log("加盟商权限回复: ",res);
                                if(res.suc == true){
                                    self.$Notice.success({
                                        title:"登陆成功",
                                    })
                                    
                                    // 3,跳转页面
                                    localStorage.setItem("USER_LEVEL",-1);      // 设置 加盟商的level是-1
                                    localStorage.setItem("allyId",res.data.allyId);      // 设置 加盟商的level是-1
                                    self.$router.push({path:"/Main"});
                                }else{
                                    // 4,提示没有权限,不跳转页面
                                    self.$Modal.error({
                                        title:"权限验证失败",
                                        content:"您没有权限，请向管理员请求权限"
                                    })
                                }
                            }
                        ).catch(err=>{
                            // 4,提示没有权限,不跳转页面
                            self.$Modal.error({
                                title:"权限验证失败",
                                content:"您没有权限，请向管理员请求权限"
                            })
                        })
                    }, 
                    // 3,短信验证失败
                    function(err){
                        // 4,提示短信验证失败,不跳转页面
                        self.$Modal.error({
                            title:"短信验证失败",
                            content:"请输入正确的短信验证码"
                        })
                        self.spinner.spin();
                    }
                );
            }
            // 2,以 非加盟商身份登陆 
            else{
                AV.Cloud.verifySmsCode(self.smsCode, self.userName).then(
                    // 3,短信验证成功
                    function(){
                        self.spinner.spin();
                        console.log("短信验证成功");
                        self.$Notice.success({
                            title:"短信验证成功",
                        })
                        // 4,验证通过,保存电话
                        localStorage.setItem('AUTHED_TEL',self.userName);
                        // 5,检查权限
                        var url = self.routers.loginPermission + self.userName + "&agentId=2";
                        self.$http.get(url).then(
                            function(res){
                                res = res.body;
                                console.log("Debug: ",res);
                                if(res.suc == true){
                                    self.$Notice.success({
                                        title:"登陆成功",
                                    })
                                    // 6,设置level
                                    localStorage.setItem("USER_LEVEL",res.data.level);      
                                    // 7,跳转页面
                                    self.$router.push({path:"/Main"});
                                }else{
                                    // 6,提示没有权限,不跳转页面
                                    self.$Modal.error({
                                        title:"权限验证失败",
                                        content:"您没有权限，请向管理员请求权限"
                                    })
                                }
                                self.spinner.spin();
                            }
                        ).catch(err=>{
                            // 5,提示没有权限,不跳转页面
                            self.$Modal.error({
                                title:"权限验证失败",
                                content:"您没有权限，请向管理员请求权限"
                            })
                            self.spinner.spin();
                        })
                    }, 
                    // 3,短信验证失败
                    function(err){
                        // 4,提示短信验证失败,不跳转页面
                        self.$Modal.error({
                            title:"短信验证失败",
                            content:"请输入正确的短信验证码"
                        })
                        self.spinner.spin();
                    }
                );
            }
        }
    }
}
</script>

<style scoped>
/* @import "../../static/css/style.css"; */
.bgBoxCss{
    width:100%; 
    height:700px;
    overflow-y:hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}
.loginBoxCss{
    width:350px;
    height:500px;
    background-color: #2A2A35;

    border-radius: 20px;
}
/********* 电曹操 ********/
.diancaocaoCss{
    font-size: 20px;
    color:white;
    background-color: #23232E;
    width:100%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;
}
/********** 手机号输入 *****************/
.telephoneCss{
    width:83%;
    height: 10%;
    border-bottom: 1px solid gray;
    border-radius: 5px;
    margin-top:5%;
    margin-left:10%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.telephoneInputCss{
    width:85%;
    height: 80%;
    margin-left:10px;
    font-size:15px;
    color:white;

    background:rgba(0,0,0,0);
    border:1px solid #2A2A35;
}
/*********** 验证码输入 **********************/
.smsCss{
    width:100%;
    height: 10%;
    display: flex;
    margin-top:2%;

    align-items: center;
}
.smsCodeCss{
    width:50%;
    height: 100%;
    border-bottom: 1px solid gray;
    border-radius: 5px;
    margin-left:10%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.smsCodeInputCss{
    width:85%;
    height: 80%;
    margin-left:15px;
    font-size:15px;
    color:white;

    background:rgba(0,0,0,0);
    border:1px solid #2A2A35;
}
.smsBtnCss{
    background-color: #CF1C25;
    height: 80%;
    font-size:15px;
    margin-left: 10px;
    border: 1px solid #2A2A35;
}
/*************** 登陆 *********************/
.logCss{
    width:100%;
    height: 12%;
    margin-top:2%;

    border-radius: 0 0 20px 20px;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #CF1C25;
}
</style>
