<template>
    <div class="mainBoxCss">
        <!-- 题头 -->
        <div class="topBoxCss">
            <!-- 左边的名称 盒子 -->
            <div class="topLeftBoxCss" v-bind:style="{'width':hideCtr.width}"><div v-if="hideCtr.visiable">小安科技</div></div>
            <!-- 中间的影藏按钮 -->
            <div class="topButtonBoxCss" v-bind:style="{'left':hideCtr.left}" @click="hideIt"><Icon type="navicon-round" size=20  class="topButtonIconBoxCss"></Icon></div>
            <!-- 右边的退出登陆按钮  -->
            <div class="topRightBoxCss" v-bind:style="{'width':'calc( 100% - ' + hideCtr.width + ')'}"><Icon type="navicon-round" size=40  color=gray></Icon></div>
        </div>
        <!-- 下面的页面 -->
        <div class="bottomBoxCss">
            <!-- 左边的边栏 -->
            <div class="bottomLeftBoxCss" v-bind:style="{'width':hideCtr.width}">
                <!-- logo -->
                <img src="http://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/chechang_logo.png"
                     style="width:50px; height:50px;margin-top:20px;"/>

                <!-- 列表 -->
                <div class="bottomLeftListCss" @click="colorCtr.item1Icon = !colorCtr.item1Icon">
                    <div class="bLLCss">
                        <Icon type="stats-bars" size=25 color=white style="margin-right:10px;"></Icon>
                        <div v-if="hideCtr.visiable">库存查看</div>
                    </div>
                    <Icon v-if="colorCtr.item1Icon && hideCtr.visiable" type="ios-arrow-down" style="width:10%;"></Icon>
                    <Icon v-if="!colorCtr.item1Icon && hideCtr.visiable" type="ios-arrow-up"   style="width:10%;"></Icon>
                </div>
                <!-- 列表里面的数据 -->
                <div v-if="colorCtr.item1Icon && hideCtr.visiable" class="bottomLeftItemCss" @click="funcChoose('入库记录')">入库记录</div>
                <div v-if="colorCtr.item1Icon && hideCtr.visiable" class="bottomLeftItemCss" @click="funcChoose('出库记录')">出库记录</div>

                <!-- 地图 -->
                <div class="bottomLeftListCss" @click="colorCtr.item2Icon = !colorCtr.item2Icon">
                    <div class="bLLCss">
                        <Icon type="laptop" size=20 color=white style="margin-right:10px;"></Icon>
                        <div v-if="hideCtr.visiable">销量大屏</div>
                    </div>
                    <Icon v-if="colorCtr.item2Icon && hideCtr.visiable" type="ios-arrow-down" style="width:10%;"></Icon>
                    <Icon v-if="!colorCtr.item2Icon && hideCtr.visiable" type="ios-arrow-up"   style="width:10%;"></Icon>
                </div>
                <!-- 销量地图 -->
                <div v-if="colorCtr.item2Icon && hideCtr.visiable" class="bottomLeftItemCss" @click="funcChoose('销量地图')">销量地图</div>
            </div>

            <!-- 右边的内容 -->
            <div class="bottomRightBoxCss" v-bind:style="{'width':'calc( 100% - ' + hideCtr.width + ')'}">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    data(){
       return{
           /***********************************************/
           colorCtr:{
               item1Icon:false,
               item2Icon:false,
           },
           hideCtr:{
                width:'220px',
                left:'200px',
                visiable:true,
           }
       }
    },
    mounted:function(){
      
    },
    methods:{
        // 隐藏按钮
        hideIt(){
            if(this.hideCtr.width == '80px'){
                this.hideCtr.width='220px';
                this.hideCtr.left ='200px';
                this.hideCtr.visiable = true;
            } 
            else{
                this.hideCtr.width = '80px';
                this.hideCtr.left  = '60px';
                this.hideCtr.visiable = false;
            } 
        },

        // 页面跳转
        funcChoose(name){
            if(name == '入库记录'){
                this.$router.push({path:"/storeIn"});
            }else if(name == '出库记录'){
                this.$router.push({path:"/storeOut"});
            }else if(name == '销量地图'){
                this.$router.push({path:"/saleOutMap"});
            }
        },
    },
}
</script>

<style scoped>
/*************************************************/
/* 主盒子 */
.mainBoxCss{
    width:100%;
    height: 100%;
    overflow: hidden;
}
/*************************************************/
/* 题头盒子 */
.topBoxCss{
    width:100%;
    height: 60px;

    display: flex;
    position: fixed;
    top:0; left:0;
}
/* 题头左边的盒子 */
.topLeftBoxCss{
    height: 100%;
    background-color: #1FB5AD;

    /* 设置字 */
    color:white;
    font-size:25px;
    /* 设置字的位置 */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 题头按钮 */
.topButtonBoxCss{
    /* 位置 */
    width: 40px;
    height: 40px;
    position: fixed;
    top:10px;

    /* 装饰 */
    border:1px solid #75DCD8;
    border-radius: 40px;
    background-color: #1FB5AD;
}
.topButtonBoxCss:hover{
    background-color: white;
}
.topButtonIconBoxCss{
    width: 100%;
    height: 100%;
    padding-top:10px;

    color:white;
}
.topButtonIconBoxCss:hover{
    color:black;
}
/* 题头右边的盒子 */
.topRightBoxCss{
   
    height: 100%;
    background-color: #394263;
    
    /* 设置退出登陆按钮位置 */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right:20px;
}
/*************************************************/
/* 下面的页面 */
.bottomBoxCss{
    width: 100%;
    margin-top:60px;    
    height: 700px;

    display: flex;
}
/* 下左页面 */
.bottomLeftBoxCss{
    height:100%;
    background-color: #282E45;
}
/* 下左Item */
.bottomLeftListCss{
    /* 设置宽高 */
    width:100%;
    height: 50px;
    font-size:15px;
    color:white;
    /* 设置对齐 */
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}
.bottomLeftListCss:hover{
    background-color: #394263;
}
/* 下左Item的左 */
.bLLCss{
    width:80%;
    display: flex;
    align-items: center;
    padding-left:20px; 
}
/* 下左列表的item */
.bottomLeftItemCss{
    width: 100%;
    height: 50px;
    font-size:15px;
    color:white;
    background-color: #20253A;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
.bottomLeftItemCss:hover{
    background-color: #394263;
}
/*******************************************************/
/* 下面的右边的页面 */
.bottomRightBoxCss{
    width: calc( 100% - 220px);
    height: 100%;

    background: url("http://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/chechang_bg.jpg");
}
/*******************************************************/
</style>
