<template>
    <div>
        <div id="main" style="width: 100%;height:600px;border:1px solid red;"></div>

    </div>
</template>

<script>
export default {
    data(){
        return{
            /**********************************************/ 
            // 地图数据
            mapData:{
                /************ 省级 *************************/
                // 34个省的数据
                china:[
                    {name: '北京',value: Math.round(Math.random()*1000)},
                    {name: '天津',value: Math.round(Math.random()*1000)},
                    {name: '上海',value: Math.round(Math.random()*1000)},
                    {name: '重庆',value: Math.round(Math.random()*1000)},
                    {name: '河北',value: Math.round(Math.random()*1000)},

                    {name: '河南',value: Math.round(Math.random()*1000)},
                    {name: '云南',value: Math.round(Math.random()*1000)},
                    {name: '辽宁',value: Math.round(Math.random()*1000)},
                    {name: '黑龙江',value: Math.round(Math.random()*1000)},
                    {name: '湖南',value: Math.round(Math.random()*1000)},

                    {name: '安徽',value: Math.round(Math.random()*1000)},
                    {name: '山东',value: Math.round(Math.random()*1000)},
                    {name: '新疆',value: Math.round(Math.random()*1000)},
                    {name: '江苏',value: Math.round(Math.random()*1000)},
                    {name: '浙江',value: Math.round(Math.random()*1000)},

                    {name: '江西',value: Math.round(Math.random()*1000)},
                    {name: '湖北',value: Math.round(Math.random()*1000)},
                    {name: '广西',value: Math.round(Math.random()*1000)},
                    {name: '甘肃',value: Math.round(Math.random()*1000)},
                    {name: '山西',value: Math.round(Math.random()*1000)},

                    {name: '内蒙古',value: Math.round(Math.random()*1000)},
                    {name: '陕西',value: Math.round(Math.random()*1000)},
                    {name: '吉林',value: Math.round(Math.random()*1000)},
                    {name: '福建',value: Math.round(Math.random()*1000)},
                    {name: '贵州',value: Math.round(Math.random()*1000)},

                    {name: '广东',value: Math.round(Math.random()*1000)},
                    {name: '青海',value: Math.round(Math.random()*1000)},
                    {name: '西藏',value: Math.round(Math.random()*1000)},
                    {name: '四川',value: Math.round(Math.random()*1000)},
                    {name: '宁夏',value: Math.round(Math.random()*1000)},

                    {name: '海南',value: Math.round(Math.random()*1000)},
                    {name: '台湾',value: Math.round(Math.random()*1000)},
                    {name: '香港',value: Math.round(Math.random()*1000)},
                    {name: '澳门',value: Math.round(Math.random()*1000)}
                ],
                /************ 市级 ***************************/
                // 各个市的数据
                city:[
                    {name: '重庆市',value: Math.round(Math.random()*1000)},
                    {name: '北京市',value: Math.round(Math.random()*1000)},
                    {name: '天津市',value: Math.round(Math.random()*1000)},
                    {name: '上海市',value: Math.round(Math.random()*1000)},
                    {name: '香港',value: Math.round(Math.random()*1000)},
                    {name: '澳门',value: Math.round(Math.random()*1000)},
                    {name: '巴音郭楞蒙古自治州',value: Math.round(Math.random()*1000)},
                    {name: '和田地区',value: Math.round(Math.random()*1000)},
                    {name: '哈密地区',value: Math.round(Math.random()*1000)},
                    {name: '阿克苏地区',value: Math.round(Math.random()*1000)},
                    {name: '阿勒泰地区',value: Math.round(Math.random()*1000)},
                    {name: '喀什地区',value: Math.round(Math.random()*1000)},
                    {name: '塔城地区',value: Math.round(Math.random()*1000)},
                    {name: '昌吉回族自治州',value: Math.round(Math.random()*1000)},
                    {name: '克孜勒苏柯尔克孜自治州',value: Math.round(Math.random()*1000)},
                    {name: '吐鲁番地区',value: Math.round(Math.random()*1000)},
                    {name: '伊犁哈萨克自治州',value: Math.round(Math.random()*1000)},
                    {name: '博尔塔拉蒙古自治州',value: Math.round(Math.random()*1000)},
                    {name: '乌鲁木齐市',value: Math.round(Math.random()*1000)},
                    {name: '克拉玛依市',value: Math.round(Math.random()*1000)},
                    {name: '阿拉尔市',value: Math.round(Math.random()*1000)},
                    {name: '图木舒克市',value: Math.round(Math.random()*1000)},
                    {name: '五家渠市',value: Math.round(Math.random()*1000)},
                    {name: '石河子市',value: Math.round(Math.random()*1000)},
                    {name: '那曲地区',value: Math.round(Math.random()*1000)},
                    {name: '阿里地区',value: Math.round(Math.random()*1000)},
                    {name: '日喀则地区',value: Math.round(Math.random()*1000)},
                    {name: '林芝地区',value: Math.round(Math.random()*1000)},
                    {name: '昌都地区',value: Math.round(Math.random()*1000)},
                    {name: '山南地区',value: Math.round(Math.random()*1000)},
                    {name: '拉萨市',value: Math.round(Math.random()*1000)},
                    {name: '呼伦贝尔市',value: Math.round(Math.random()*1000)},
                    {name: '阿拉善盟',value: Math.round(Math.random()*1000)},
                    {name: '锡林郭勒盟',value: Math.round(Math.random()*1000)},
                    {name: '鄂尔多斯市',value: Math.round(Math.random()*1000)},
                    {name: '赤峰市',value: Math.round(Math.random()*1000)},
                    {name: '巴彦淖尔市',value: Math.round(Math.random()*1000)},
                    {name: '通辽市',value: Math.round(Math.random()*1000)},
                    {name: '乌兰察布市',value: Math.round(Math.random()*1000)},
                    {name: '兴安盟',value: Math.round(Math.random()*1000)},
                    {name: '包头市',value: Math.round(Math.random()*1000)},
                    {name: '呼和浩特市',value: Math.round(Math.random()*1000)},
                    {name: '乌海市',value: Math.round(Math.random()*1000)},
                    {name: '海西蒙古族藏族自治州',value: Math.round(Math.random()*1000)},
                    {name: '玉树藏族自治州',value: Math.round(Math.random()*1000)},
                    {name: '果洛藏族自治州',value: Math.round(Math.random()*1000)},
                    {name: '海南藏族自治州',value: Math.round(Math.random()*1000)},
                    {name: '海北藏族自治州',value: Math.round(Math.random()*1000)},
                    {name: '黄南藏族自治州',value: Math.round(Math.random()*1000)},
                    {name: '海东地区',value: Math.round(Math.random()*1000)},
                    {name: '西宁市',value: Math.round(Math.random()*1000)},
                    {name: '甘孜藏族自治州',value: Math.round(Math.random()*1000)},
                    {name: '阿坝藏族羌族自治州',value: Math.round(Math.random()*1000)},
                    {name: '凉山彝族自治州',value: Math.round(Math.random()*1000)},
                    {name: '绵阳市',value: Math.round(Math.random()*1000)},
                    {name: '达州市',value: Math.round(Math.random()*1000)},
                    {name: '广元市',value: Math.round(Math.random()*1000)},
                    {name: '雅安市',value: Math.round(Math.random()*1000)},
                    {name: '宜宾市',value: Math.round(Math.random()*1000)},
                    {name: '乐山市',value: Math.round(Math.random()*1000)},
                    {name: '南充市',value: Math.round(Math.random()*1000)},
                    {name: '巴中市',value: Math.round(Math.random()*1000)},
                    {name: '泸州市',value: Math.round(Math.random()*1000)},
                    {name: '成都市',value: Math.round(Math.random()*1000)},
                    {name: '资阳市',value: Math.round(Math.random()*1000)},
                    {name: '攀枝花市',value: Math.round(Math.random()*1000)},
                    {name: '眉山市',value: Math.round(Math.random()*1000)},
                    {name: '广安市',value: Math.round(Math.random()*1000)},
                    {name: '德阳市',value: Math.round(Math.random()*1000)},
                    {name: '内江市',value: Math.round(Math.random()*1000)},
                    {name: '遂宁市',value: Math.round(Math.random()*1000)},
                    {name: '自贡市',value: Math.round(Math.random()*1000)},
                    {name: '黑河市',value: Math.round(Math.random()*1000)},
                    {name: '大兴安岭地区',value: Math.round(Math.random()*1000)},
                    {name: '哈尔滨市',value: Math.round(Math.random()*1000)},
                    {name: '齐齐哈尔市',value: Math.round(Math.random()*1000)},
                    {name: '牡丹江市',value: Math.round(Math.random()*1000)},
                    {name: '绥化市',value: Math.round(Math.random()*1000)},
                    {name: '伊春市',value: Math.round(Math.random()*1000)},
                    {name: '佳木斯市',value: Math.round(Math.random()*1000)},
                    {name: '鸡西市',value: Math.round(Math.random()*1000)},
                    {name: '双鸭山市',value: Math.round(Math.random()*1000)},
                    {name: '大庆市',value: Math.round(Math.random()*1000)},
                    {name: '鹤岗市',value: Math.round(Math.random()*1000)},
                    {name: '七台河市',value: Math.round(Math.random()*1000)},
                    {name: '酒泉市',value: Math.round(Math.random()*1000)},
                    {name: '张掖市',value: Math.round(Math.random()*1000)},
                    {name: '甘南藏族自治州',value: Math.round(Math.random()*1000)},
                    {name: '武威市',value: Math.round(Math.random()*1000)},
                    {name: '陇南市',value: Math.round(Math.random()*1000)},
                    {name: '庆阳市',value: Math.round(Math.random()*1000)},
                    {name: '白银市',value: Math.round(Math.random()*1000)},
                    {name: '定西市',value: Math.round(Math.random()*1000)},
                    {name: '天水市',value: Math.round(Math.random()*1000)},
                    {name: '兰州市',value: Math.round(Math.random()*1000)},
                    {name: '平凉市',value: Math.round(Math.random()*1000)},
                    {name: '临夏回族自治州',value: Math.round(Math.random()*1000)},
                    {name: '金昌市',value: Math.round(Math.random()*1000)},
                    {name: '嘉峪关市',value: Math.round(Math.random()*1000)},
                    {name: '普洱市',value: Math.round(Math.random()*1000)},
                    {name: '红河哈尼族彝族自治州',value: Math.round(Math.random()*1000)},
                    {name: '文山壮族苗族自治州',value: Math.round(Math.random()*1000)},
                    {name: '曲靖市',value: Math.round(Math.random()*1000)},
                    {name: '楚雄彝族自治州',value: Math.round(Math.random()*1000)},
                    {name: '大理白族自治州',value: Math.round(Math.random()*1000)},
                    {name: '临沧市',value: Math.round(Math.random()*1000)},
                    {name: '迪庆藏族自治州',value: Math.round(Math.random()*1000)},
                    {name: '昭通市',value: Math.round(Math.random()*1000)},
                    {name: '昆明市',value: Math.round(Math.random()*1000)},
                    {name: '丽江市',value: Math.round(Math.random()*1000)},
                    {name: '西双版纳傣族自治州',value: Math.round(Math.random()*1000)},
                    {name: '保山市',value: Math.round(Math.random()*1000)},
                    {name: '玉溪市',value: Math.round(Math.random()*1000)},
                    {name: '怒江傈僳族自治州',value: Math.round(Math.random()*1000)},
                    {name: '德宏傣族景颇族自治州',value: Math.round(Math.random()*1000)},
                    {name: '百色市',value: Math.round(Math.random()*1000)},
                    {name: '河池市',value: Math.round(Math.random()*1000)},
                    {name: '桂林市',value: Math.round(Math.random()*1000)},
                    {name: '南宁市',value: Math.round(Math.random()*1000)},
                    {name: '柳州市',value: Math.round(Math.random()*1000)},
                    {name: '崇左市',value: Math.round(Math.random()*1000)},
                    {name: '来宾市',value: Math.round(Math.random()*1000)},
                    {name: '玉林市',value: Math.round(Math.random()*1000)},
                    {name: '梧州市',value: Math.round(Math.random()*1000)},
                    {name: '贺州市',value: Math.round(Math.random()*1000)},
                    {name: '钦州市',value: Math.round(Math.random()*1000)},
                    {name: '贵港市',value: Math.round(Math.random()*1000)},
                    {name: '防城港市',value: Math.round(Math.random()*1000)},
                    {name: '北海市',value: Math.round(Math.random()*1000)},
                    {name: '怀化市',value: Math.round(Math.random()*1000)},
                    {name: '永州市',value: Math.round(Math.random()*1000)},
                    {name: '邵阳市',value: Math.round(Math.random()*1000)},
                    {name: '郴州市',value: Math.round(Math.random()*1000)},
                    {name: '常德市',value: Math.round(Math.random()*1000)},
                    {name: '湘西土家族苗族自治州',value: Math.round(Math.random()*1000)},
                    {name: '衡阳市',value: Math.round(Math.random()*1000)},
                    {name: '岳阳市',value: Math.round(Math.random()*1000)},
                    {name: '益阳市',value: Math.round(Math.random()*1000)},
                    {name: '长沙市',value: Math.round(Math.random()*1000)},
                    {name: '株洲市',value: Math.round(Math.random()*1000)},
                    {name: '张家界市',value: Math.round(Math.random()*1000)},
                    {name: '娄底市',value: Math.round(Math.random()*1000)},
                    {name: '湘潭市',value: Math.round(Math.random()*1000)},
                    {name: '榆林市',value: Math.round(Math.random()*1000)},
                    {name: '延安市',value: Math.round(Math.random()*1000)},
                    {name: '汉中市',value: Math.round(Math.random()*1000)},
                    {name: '安康市',value: Math.round(Math.random()*1000)},
                    {name: '商洛市',value: Math.round(Math.random()*1000)},
                    {name: '宝鸡市',value: Math.round(Math.random()*1000)},
                    {name: '渭南市',value: Math.round(Math.random()*1000)},
                    {name: '咸阳市',value: Math.round(Math.random()*1000)},
                    {name: '西安市',value: Math.round(Math.random()*1000)},
                    {name: '铜川市',value: Math.round(Math.random()*1000)},
                    {name: '清远市',value: Math.round(Math.random()*1000)},
                    {name: '韶关市',value: Math.round(Math.random()*1000)},
                    {name: '湛江市',value: Math.round(Math.random()*1000)},
                    {name: '梅州市',value: Math.round(Math.random()*1000)},
                    {name: '河源市',value: Math.round(Math.random()*1000)},
                    {name: '肇庆市',value: Math.round(Math.random()*1000)},
                    {name: '惠州市',value: Math.round(Math.random()*1000)},
                    {name: '茂名市',value: Math.round(Math.random()*1000)},
                    {name: '江门市',value: Math.round(Math.random()*1000)},
                    {name: '阳江市',value: Math.round(Math.random()*1000)},
                    {name: '云浮市',value: Math.round(Math.random()*1000)},
                    {name: '广州市',value: Math.round(Math.random()*1000)},
                    {name: '汕尾市',value: Math.round(Math.random()*1000)},
                    {name: '揭阳市',value: Math.round(Math.random()*1000)},
                    {name: '珠海市',value: Math.round(Math.random()*1000)},
                    {name: '佛山市',value: Math.round(Math.random()*1000)},
                    {name: '潮州市',value: Math.round(Math.random()*1000)},
                    {name: '汕头市',value: Math.round(Math.random()*1000)},
                    {name: '深圳市',value: Math.round(Math.random()*1000)},
                    {name: '东莞市',value: Math.round(Math.random()*1000)},
                    {name: '中山市',value: Math.round(Math.random()*1000)},
                    {name: '延边朝鲜族自治州',value: Math.round(Math.random()*1000)},
                    {name: '吉林市',value: Math.round(Math.random()*1000)},
                    {name: '白城市',value: Math.round(Math.random()*1000)},
                    {name: '松原市',value: Math.round(Math.random()*1000)},
                    {name: '长春市',value: Math.round(Math.random()*1000)},
                    {name: '白山市',value: Math.round(Math.random()*1000)},
                    {name: '通化市',value: Math.round(Math.random()*1000)},
                    {name: '四平市',value: Math.round(Math.random()*1000)},
                    {name: '辽源市',value: Math.round(Math.random()*1000)},
                    {name: '承德市',value: Math.round(Math.random()*1000)},
                    {name: '张家口市',value: Math.round(Math.random()*1000)},
                    {name: '保定市',value: Math.round(Math.random()*1000)},
                    {name: '唐山市',value: Math.round(Math.random()*1000)},
                    {name: '沧州市',value: Math.round(Math.random()*1000)},
                    {name: '石家庄市',value: Math.round(Math.random()*1000)},
                    {name: '邢台市',value: Math.round(Math.random()*1000)},
                    {name: '邯郸市',value: Math.round(Math.random()*1000)},
                    {name: '秦皇岛市',value: Math.round(Math.random()*1000)},
                    {name: '衡水市',value: Math.round(Math.random()*1000)},
                    {name: '廊坊市',value: Math.round(Math.random()*1000)},
                    {name: '恩施土家族苗族自治州',value: Math.round(Math.random()*1000)},
                    {name: '十堰市',value: Math.round(Math.random()*1000)},
                    {name: '宜昌市',value: Math.round(Math.random()*1000)},
                    {name: '襄樊市',value: Math.round(Math.random()*1000)},
                    {name: '黄冈市',value: Math.round(Math.random()*1000)},
                    {name: '荆州市',value: Math.round(Math.random()*1000)},
                    {name: '荆门市',value: Math.round(Math.random()*1000)},
                    {name: '咸宁市',value: Math.round(Math.random()*1000)},
                    {name: '随州市',value: Math.round(Math.random()*1000)},
                    {name: '孝感市',value: Math.round(Math.random()*1000)},
                    {name: '武汉市',value: Math.round(Math.random()*1000)},
                    {name: '黄石市',value: Math.round(Math.random()*1000)},
                    {name: '神农架林区',value: Math.round(Math.random()*1000)},
                    {name: '天门市',value: Math.round(Math.random()*1000)},
                    {name: '仙桃市',value: Math.round(Math.random()*1000)},
                    {name: '潜江市',value: Math.round(Math.random()*1000)},
                    {name: '鄂州市',value: Math.round(Math.random()*1000)},
                    {name: '遵义市',value: Math.round(Math.random()*1000)},
                    {name: '黔东南苗族侗族自治州',value: Math.round(Math.random()*1000)},
                    {name: '毕节地区',value: Math.round(Math.random()*1000)},
                    {name: '黔南布依族苗族自治州',value: Math.round(Math.random()*1000)},
                    {name: '铜仁地区',value: Math.round(Math.random()*1000)},
                    {name: '黔西南布依族苗族自治州',value: Math.round(Math.random()*1000)},
                    {name: '六盘水市',value: Math.round(Math.random()*1000)},
                    {name: '安顺市',value: Math.round(Math.random()*1000)},
                    {name: '贵阳市',value: Math.round(Math.random()*1000)},
                    {name: '烟台市',value: Math.round(Math.random()*1000)},
                    {name: '临沂市',value: Math.round(Math.random()*1000)},
                    {name: '潍坊市',value: Math.round(Math.random()*1000)},
                    {name: '青岛市',value: Math.round(Math.random()*1000)},
                    {name: '菏泽市',value: Math.round(Math.random()*1000)},
                    {name: '济宁市',value: Math.round(Math.random()*1000)},
                    {name: '德州市',value: Math.round(Math.random()*1000)},
                    {name: '滨州市',value: Math.round(Math.random()*1000)},
                    {name: '聊城市',value: Math.round(Math.random()*1000)},
                    {name: '东营市',value: Math.round(Math.random()*1000)},
                    {name: '济南市',value: Math.round(Math.random()*1000)},
                    {name: '泰安市',value: Math.round(Math.random()*1000)},
                    {name: '威海市',value: Math.round(Math.random()*1000)},
                    {name: '日照市',value: Math.round(Math.random()*1000)},
                    {name: '淄博市',value: Math.round(Math.random()*1000)},
                    {name: '枣庄市',value: Math.round(Math.random()*1000)},
                    {name: '莱芜市',value: Math.round(Math.random()*1000)},
                    {name: '赣州市',value: Math.round(Math.random()*1000)},
                    {name: '吉安市',value: Math.round(Math.random()*1000)},
                    {name: '上饶市',value: Math.round(Math.random()*1000)},
                    {name: '九江市',value: Math.round(Math.random()*1000)},
                    {name: '抚州市',value: Math.round(Math.random()*1000)},
                    {name: '宜春市',value: Math.round(Math.random()*1000)},
                    {name: '南昌市',value: Math.round(Math.random()*1000)},
                    {name: '景德镇市',value: Math.round(Math.random()*1000)},
                    {name: '萍乡市',value: Math.round(Math.random()*1000)},
                    {name: '鹰潭市',value: Math.round(Math.random()*1000)},
                    {name: '新余市',value: Math.round(Math.random()*1000)},
                    {name: '南阳市',value: Math.round(Math.random()*1000)},
                    {name: '信阳市',value: Math.round(Math.random()*1000)},
                    {name: '洛阳市',value: Math.round(Math.random()*1000)},
                    {name: '驻马店市',value: Math.round(Math.random()*1000)},
                    {name: '周口市',value: Math.round(Math.random()*1000)},
                    {name: '商丘市',value: Math.round(Math.random()*1000)},
                    {name: '三门峡市',value: Math.round(Math.random()*1000)},
                    {name: '新乡市',value: Math.round(Math.random()*1000)},
                    {name: '平顶山市',value: Math.round(Math.random()*1000)},
                    {name: '郑州市',value: Math.round(Math.random()*1000)},
                    {name: '安阳市',value: Math.round(Math.random()*1000)},
                    {name: '开封市',value: Math.round(Math.random()*1000)},
                    {name: '焦作市',value: Math.round(Math.random()*1000)},
                    {name: '许昌市',value: Math.round(Math.random()*1000)},
                    {name: '濮阳市',value: Math.round(Math.random()*1000)},
                    {name: '漯河市',value: Math.round(Math.random()*1000)},
                    {name: '鹤壁市',value: Math.round(Math.random()*1000)},
                    {name: '大连市',value: Math.round(Math.random()*1000)},
                    {name: '朝阳市',value: Math.round(Math.random()*1000)},
                    {name: '丹东市',value: Math.round(Math.random()*1000)},
                    {name: '铁岭市',value: Math.round(Math.random()*1000)},
                    {name: '沈阳市',value: Math.round(Math.random()*1000)},
                    {name: '抚顺市',value: Math.round(Math.random()*1000)},
                    {name: '葫芦岛市',value: Math.round(Math.random()*1000)},
                    {name: '阜新市',value: Math.round(Math.random()*1000)},
                    {name: '锦州市',value: Math.round(Math.random()*1000)},
                    {name: '鞍山市',value: Math.round(Math.random()*1000)},
                    {name: '本溪市',value: Math.round(Math.random()*1000)},
                    {name: '营口市',value: Math.round(Math.random()*1000)},
                    {name: '辽阳市',value: Math.round(Math.random()*1000)},
                    {name: '盘锦市',value: Math.round(Math.random()*1000)},
                    {name: '忻州市',value: Math.round(Math.random()*1000)},
                    {name: '吕梁市',value: Math.round(Math.random()*1000)},
                    {name: '临汾市',value: Math.round(Math.random()*1000)},
                    {name: '晋中市',value: Math.round(Math.random()*1000)},
                    {name: '运城市',value: Math.round(Math.random()*1000)},
                    {name: '大同市',value: Math.round(Math.random()*1000)},
                    {name: '长治市',value: Math.round(Math.random()*1000)},
                    {name: '朔州市',value: Math.round(Math.random()*1000)},
                    {name: '晋城市',value: Math.round(Math.random()*1000)},
                    {name: '太原市',value: Math.round(Math.random()*1000)},
                    {name: '阳泉市',value: Math.round(Math.random()*1000)},
                    {name: '六安市',value: Math.round(Math.random()*1000)},
                    {name: '安庆市',value: Math.round(Math.random()*1000)},
                    {name: '滁州市',value: Math.round(Math.random()*1000)},
                    {name: '宣城市',value: Math.round(Math.random()*1000)},
                    {name: '阜阳市',value: Math.round(Math.random()*1000)},
                    {name: '宿州市',value: Math.round(Math.random()*1000)},
                    {name: '黄山市',value: Math.round(Math.random()*1000)},
                    {name: '巢湖市',value: Math.round(Math.random()*1000)},
                    {name: '亳州市',value: Math.round(Math.random()*1000)},
                    {name: '池州市',value: Math.round(Math.random()*1000)},
                    {name: '合肥市',value: Math.round(Math.random()*1000)},
                    {name: '蚌埠市',value: Math.round(Math.random()*1000)},
                    {name: '芜湖市',value: Math.round(Math.random()*1000)},
                    {name: '淮北市',value: Math.round(Math.random()*1000)},
                    {name: '淮南市',value: Math.round(Math.random()*1000)},
                    {name: '马鞍山市',value: Math.round(Math.random()*1000)},
                    {name: '铜陵市',value: Math.round(Math.random()*1000)},
                    {name: '南平市',value: Math.round(Math.random()*1000)},
                    {name: '三明市',value: Math.round(Math.random()*1000)},
                    {name: '龙岩市',value: Math.round(Math.random()*1000)},
                    {name: '宁德市',value: Math.round(Math.random()*1000)},
                    {name: '福州市',value: Math.round(Math.random()*1000)},
                    {name: '漳州市',value: Math.round(Math.random()*1000)},
                    {name: '泉州市',value: Math.round(Math.random()*1000)},
                    {name: '莆田市',value: Math.round(Math.random()*1000)},
                    {name: '厦门市',value: Math.round(Math.random()*1000)},
                    {name: '丽水市',value: Math.round(Math.random()*1000)},
                    {name: '杭州市',value: Math.round(Math.random()*1000)},
                    {name: '温州市',value: Math.round(Math.random()*1000)},
                    {name: '宁波市',value: Math.round(Math.random()*1000)},
                    {name: '舟山市',value: Math.round(Math.random()*1000)},
                    {name: '台州市',value: Math.round(Math.random()*1000)},
                    {name: '金华市',value: Math.round(Math.random()*1000)},
                    {name: '衢州市',value: Math.round(Math.random()*1000)},
                    {name: '绍兴市',value: Math.round(Math.random()*1000)},
                    {name: '嘉兴市',value: Math.round(Math.random()*1000)},
                    {name: '湖州市',value: Math.round(Math.random()*1000)},
                    {name: '盐城市',value: Math.round(Math.random()*1000)},
                    {name: '徐州市',value: Math.round(Math.random()*1000)},
                    {name: '南通市',value: Math.round(Math.random()*1000)},
                    {name: '淮安市',value: Math.round(Math.random()*1000)},
                    {name: '苏州市',value: Math.round(Math.random()*1000)},
                    {name: '宿迁市',value: Math.round(Math.random()*1000)},
                    {name: '连云港市',value: Math.round(Math.random()*1000)},
                    {name: '扬州市',value: Math.round(Math.random()*1000)},
                    {name: '南京市',value: Math.round(Math.random()*1000)},
                    {name: '泰州市',value: Math.round(Math.random()*1000)},
                    {name: '无锡市',value: Math.round(Math.random()*1000)},
                    {name: '常州市',value: Math.round(Math.random()*1000)},
                    {name: '镇江市',value: Math.round(Math.random()*1000)},
                    {name: '吴忠市',value: Math.round(Math.random()*1000)},
                    {name: '中卫市',value: Math.round(Math.random()*1000)},
                    {name: '固原市',value: Math.round(Math.random()*1000)},
                    {name: '银川市',value: Math.round(Math.random()*1000)},
                    {name: '石嘴山市',value: Math.round(Math.random()*1000)},
                    {name: '儋州市',value: Math.round(Math.random()*1000)},
                    {name: '文昌市',value: Math.round(Math.random()*1000)},
                    {name: '乐东黎族自治县',value: Math.round(Math.random()*1000)},
                    {name: '三亚市',value: Math.round(Math.random()*1000)},
                    {name: '琼中黎族苗族自治县',value: Math.round(Math.random()*1000)},
                    {name: '东方市',value: Math.round(Math.random()*1000)},
                    {name: '海口市',value: Math.round(Math.random()*1000)},
                    {name: '万宁市',value: Math.round(Math.random()*1000)},
                    {name: '澄迈县',value: Math.round(Math.random()*1000)},
                    {name: '白沙黎族自治县',value: Math.round(Math.random()*1000)},
                    {name: '琼海市',value: Math.round(Math.random()*1000)},
                    {name: '昌江黎族自治县',value: Math.round(Math.random()*1000)},
                    {name: '临高县',value: Math.round(Math.random()*1000)},
                    {name: '陵水黎族自治县',value: Math.round(Math.random()*1000)},
                    {name: '屯昌县',value: Math.round(Math.random()*1000)},
                    {name: '定安县',value: Math.round(Math.random()*1000)},
                    {name: '保亭黎族苗族自治县',value: Math.round(Math.random()*1000)},
                    {name: '五指山市',value: Math.round(Math.random()*1000)}
                ],
                // 各个市的编码
                city_code:{
                    "北京市": "110100",
                    "天津市": "120100",
                    "上海市": "310100",
                    "重庆市": "500100",
                    "崇明县": "310200",            // ??
                    "湖北省直辖县市": "429000",       // ??
                    "铜仁市": "522200",            // ??
                    "毕节市": "522400",            // ??
                    "石家庄市": "130100",
                    "唐山市": "130200",
                    "秦皇岛市": "130300",
                    "邯郸市": "130400",
                    "邢台市": "130500",
                    "保定市": "130600",
                    "张家口市": "130700",
                    "承德市": "130800",
                    "沧州市": "130900",
                    "廊坊市": "131000",
                    "衡水市": "131100",
                    "太原市": "140100",
                    "大同市": "140200",
                    "阳泉市": "140300",
                    "长治市": "140400",
                    "晋城市": "140500",
                    "朔州市": "140600",
                    "晋中市": "140700",
                    "运城市": "140800",
                    "忻州市": "140900",
                    "临汾市": "141000",
                    "吕梁市": "141100",
                    "呼和浩特市": "150100",
                    "包头市": "150200",
                    "乌海市": "150300",
                    "赤峰市": "150400",
                    "通辽市": "150500",
                    "鄂尔多斯市": "150600",
                    "呼伦贝尔市": "150700",
                    "巴彦淖尔市": "150800",
                    "乌兰察布市": "150900",
                    "兴安盟": "152200",
                    "锡林郭勒盟": "152500",
                    "阿拉善盟": "152900",
                    "沈阳市": "210100",
                    "大连市": "210200",
                    "鞍山市": "210300",
                    "抚顺市": "210400",
                    "本溪市": "210500",
                    "丹东市": "210600",
                    "锦州市": "210700",
                    "营口市": "210800",
                    "阜新市": "210900",
                    "辽阳市": "211000",
                    "盘锦市": "211100",
                    "铁岭市": "211200",
                    "朝阳市": "211300",
                    "葫芦岛市": "211400",
                    "长春市": "220100",
                    "吉林市": "220200",
                    "四平市": "220300",
                    "辽源市": "220400",
                    "通化市": "220500",
                    "白山市": "220600",
                    "松原市": "220700",
                    "白城市": "220800",
                    "延边朝鲜族自治州": "222400",
                    "哈尔滨市": "230100",
                    "齐齐哈尔市": "230200",
                    "鸡西市": "230300",
                    "鹤岗市": "230400",
                    "双鸭山市": "230500",
                    "大庆市": "230600",
                    "伊春市": "230700",
                    "佳木斯市": "230800",
                    "七台河市": "230900",
                    "牡丹江市": "231000",
                    "黑河市": "231100",
                    "绥化市": "231200",
                    "大兴安岭地区": "232700",
                    "南京市": "320100",
                    "无锡市": "320200",
                    "徐州市": "320300",
                    "常州市": "320400",
                    "苏州市": "320500",
                    "南通市": "320600",
                    "连云港市": "320700",
                    "淮安市": "320800",
                    "盐城市": "320900",
                    "扬州市": "321000",
                    "镇江市": "321100",
                    "泰州市": "321200",
                    "宿迁市": "321300",
                    "杭州市": "330100",
                    "宁波市": "330200",
                    "温州市": "330300",
                    "嘉兴市": "330400",
                    "湖州市": "330500",
                    "绍兴市": "330600",
                    "金华市": "330700",
                    "衢州市": "330800",
                    "舟山市": "330900",
                    "台州市": "331000",
                    "丽水市": "331100",
                    "合肥市": "340100",
                    "芜湖市": "340200",
                    "蚌埠市": "340300",
                    "淮南市": "340400",
                    "马鞍山市": "340500",
                    "淮北市": "340600",
                    "铜陵市": "340700",
                    "安庆市": "340800",
                    "黄山市": "341000",
                    "滁州市": "341100",
                    "阜阳市": "341200",
                    "宿州市": "341300",
                    "六安市": "341500",
                    "亳州市": "341600",
                    "池州市": "341700",
                    "宣城市": "341800",
                    "福州市": "350100",
                    "厦门市": "350200",
                    "莆田市": "350300",
                    "三明市": "350400",
                    "泉州市": "350500",
                    "漳州市": "350600",
                    "南平市": "350700",
                    "龙岩市": "350800",
                    "宁德市": "350900",
                    "南昌市": "360100",
                    "景德镇市": "360200",
                    "萍乡市": "360300",
                    "九江市": "360400",
                    "新余市": "360500",
                    "鹰潭市": "360600",
                    "赣州市": "360700",
                    "吉安市": "360800",
                    "宜春市": "360900",
                    "抚州市": "361000",
                    "上饶市": "361100",
                    "济南市": "370100",
                    "青岛市": "370200",
                    "淄博市": "370300",
                    "枣庄市": "370400",
                    "东营市": "370500",
                    "烟台市": "370600",
                    "潍坊市": "370700",
                    "济宁市": "370800",
                    "泰安市": "370900",
                    "威海市": "371000",
                    "日照市": "371100",
                    "莱芜市": "371200",
                    "临沂市": "371300",
                    "德州市": "371400",
                    "聊城市": "371500",
                    "滨州市": "371600",
                    "菏泽市": "371700",
                    "郑州市": "410100",
                    "开封市": "410200",
                    "洛阳市": "410300",
                    "平顶山市": "410400",
                    "安阳市": "410500",
                    "鹤壁市": "410600",
                    "新乡市": "410700",
                    "焦作市": "410800",
                    "濮阳市": "410900",
                    "许昌市": "411000",
                    "漯河市": "411100",
                    "三门峡市": "411200",
                    "南阳市": "411300",
                    "商丘市": "411400",
                    "信阳市": "411500",
                    "周口市": "411600",
                    "驻马店市": "411700",
                    "省直辖县级行政区划": "469000",
                    "武汉市": "420100",
                    "黄石市": "420200",
                    "十堰市": "420300",
                    "宜昌市": "420500",
                    "襄阳市": "420600",
                    "鄂州市": "420700",
                    "荆门市": "420800",
                    "孝感市": "420900",
                    "荆州市": "421000",
                    "黄冈市": "421100",
                    "咸宁市": "421200",
                    "随州市": "421300",
                    "恩施土家族苗族自治州": "422800",
                    "长沙市": "430100",
                    "株洲市": "430200",
                    "湘潭市": "430300",
                    "衡阳市": "430400",
                    "邵阳市": "430500",
                    "岳阳市": "430600",
                    "常德市": "430700",
                    "张家界市": "430800",
                    "益阳市": "430900",
                    "郴州市": "431000",
                    "永州市": "431100",
                    "怀化市": "431200",
                    "娄底市": "431300",
                    "湘西土家族苗族自治州": "433100",
                    "广州市": "440100",
                    "韶关市": "440200",
                    "深圳市": "440300",
                    "珠海市": "440400",
                    "汕头市": "440500",
                    "佛山市": "440600",
                    "江门市": "440700",
                    "湛江市": "440800",
                    "茂名市": "440900",
                    "肇庆市": "441200",
                    "惠州市": "441300",
                    "梅州市": "441400",
                    "汕尾市": "441500",
                    "河源市": "441600",
                    "阳江市": "441700",
                    "清远市": "441800",
                    "东莞市": "441900",
                    "中山市": "442000",
                    "潮州市": "445100",
                    "揭阳市": "445200",
                    "云浮市": "445300",
                    "南宁市": "450100",
                    "柳州市": "450200",
                    "桂林市": "450300",
                    "梧州市": "450400",
                    "北海市": "450500",
                    "防城港市": "450600",
                    "钦州市": "450700",
                    "贵港市": "450800",
                    "玉林市": "450900",
                    "百色市": "451000",
                    "贺州市": "451100",
                    "河池市": "451200",
                    "来宾市": "451300",
                    "崇左市": "451400",
                    "海口市": "460100",
                    "三亚市": "460200",
                    "三沙市": "460300",
                    "成都市": "510100",
                    "自贡市": "510300",
                    "攀枝花市": "510400",
                    "泸州市": "510500",
                    "德阳市": "510600",
                    "绵阳市": "510700",
                    "广元市": "510800",
                    "遂宁市": "510900",
                    "内江市": "511000",
                    "乐山市": "511100",
                    "南充市": "511300",
                    "眉山市": "511400",
                    "宜宾市": "511500",
                    "广安市": "511600",
                    "达州市": "511700",
                    "雅安市": "511800",
                    "巴中市": "511900",
                    "资阳市": "512000",
                    "阿坝藏族羌族自治州": "513200",
                    "甘孜藏族自治州": "513300",
                    "凉山彝族自治州": "513400",
                    "贵阳市": "520100",
                    "六盘水市": "520200",
                    "遵义市": "520300",
                    "安顺市": "520400",
                    "黔西南布依族苗族自治州": "522300",
                    "黔东南苗族侗族自治州": "522600",
                    "黔南布依族苗族自治州": "522700",
                    "昆明市": "530100",
                    "曲靖市": "530300",
                    "玉溪市": "530400",
                    "保山市": "530500",
                    "昭通市": "530600",
                    "丽江市": "530700",
                    "普洱市": "530800",
                    "临沧市": "530900",
                    "楚雄彝族自治州": "532300",
                    "红河哈尼族彝族自治州": "532500",
                    "文山壮族苗族自治州": "532600",
                    "西双版纳傣族自治州": "532800",
                    "大理白族自治州": "532900",
                    "德宏傣族景颇族自治州": "533100",
                    "怒江傈僳族自治州": "533300",
                    "迪庆藏族自治州": "533400",
                    "拉萨市": "540100",
                    "昌都地区": "542100",
                    "山南地区": "542200",
                    "日喀则地区": "542300",
                    "那曲地区": "542400",
                    "阿里地区": "542500",
                    "林芝地区": "542600",
                    "西安市": "610100",
                    "铜川市": "610200",
                    "宝鸡市": "610300",
                    "咸阳市": "610400",
                    "渭南市": "610500",
                    "延安市": "610600",
                    "汉中市": "610700",
                    "榆林市": "610800",
                    "安康市": "610900",
                    "商洛市": "611000",
                    "兰州市": "620100",
                    "嘉峪关市": "620200",
                    "金昌市": "620300",
                    "白银市": "620400",
                    "天水市": "620500",
                    "武威市": "620600",
                    "张掖市": "620700",
                    "平凉市": "620800",
                    "酒泉市": "620900",
                    "庆阳市": "621000",
                    "定西市": "621100",
                    "陇南市": "621200",
                    "临夏回族自治州": "622900",
                    "甘南藏族自治州": "623000",
                    "西宁市": "630100",
                    "海东地区": "632100",
                    "海北藏族自治州": "632200",
                    "黄南藏族自治州": "632300",
                    "海南藏族自治州": "632500",
                    "果洛藏族自治州": "632600",
                    "玉树藏族自治州": "632700",
                    "海西蒙古族藏族自治州": "632800",
                    "银川市": "640100",
                    "石嘴山市": "640200",
                    "吴忠市": "640300",
                    "固原市": "640400",
                    "中卫市": "640500",
                    "乌鲁木齐市": "650100",
                    "克拉玛依市": "650200",
                    "吐鲁番地区": "652100",
                    "哈密地区": "652200",
                    "昌吉回族自治州": "652300",
                    "博尔塔拉蒙古自治州": "652700",
                    "巴音郭楞蒙古自治州": "652800",
                    "阿克苏地区": "652900",
                    "克孜勒苏柯尔克孜自治州": "653000",
                    "喀什地区": "653100",
                    "和田地区": "653200",
                    "伊犁哈萨克自治州": "654000",
                    "塔城地区": "654200",
                    "阿勒泰地区": "654300",
                    "自治区直辖县级行政区划": "659000",
                    "台湾省": "710000",
                    "香港特别行政区": "810100",
                    "澳门特别行政区": "820000"
                },
                /************ 区(县)级 ************************/
                // 全国各个县的数据
                county:[
                    // 自己加的数据 测试
                    {name: '爱辉区',value: Math.round(Math.random()*1000)},
                    {name: '嫩江县',value: Math.round(Math.random()*1000)},
                    {name: '孙吴县',value: Math.round(Math.random()*1000)},
                ],
                /************** 设置option ********************/
                option:{
                    // 标题
                    title: {
                        text : '全国小安宝销量分布',
                        subtext : 'china （点击或滚动滚轮进行地图切换）',
                        textStyle:{
                            fontSize: 18,
                            fontWeight: 'bolder',
                            color: 'white',
                        }
                    },
                    // 鼠标提示文字
                    tooltip : {
                        trigger: 'item',
                        formatter: '点击进入该省<br/>{b}'
                    },
                    // 左下角颜色图例
                    dataRange: {
                        min: 0,
                        max: 1000,
                        color:['orange','yellow'],
                        text:['高','低'],           // 文本，默认为数值文本
                        calculable : true,
                        textStyle:{
                            fontSize: 12,
                            color: 'white',
                        }
                    },
                    // 地图数据 初始化为全国的
                    series : [
                        {
                            name: '随机数据',
                            type: 'map',
                            mapType: 'china',
                            selectedMode : 'single',
                            itemStyle:{
                                normal:{label:{show:true}},
                                emphasis:{label:{show:true}}
                            },
                            data:[],
                        }
                    ]
                },
                /************** 控制模块 **********************/
                mapCtr:{
                    level:0,   // 记录现在地图所属的层次
                    city:"",   // 记录现在选择的是哪个省
                    county:"", // 记录现在选择的是哪个市
                }
            }
        }
    },
    mounted(){
        this.mapInit();
    },
    methods:{
        /***********************************************************/
        // 一级辅助函数 --> 进入某省的设置
        help_city(myChart,param){
            var self = this;
            // (1) 把Level标识成 省级level
            self.mapData.mapCtr.level = 1;
            // (2) 查看是哪个省被点击了
            var selected = param.selected;
            for (var i in selected) {
                if(selected[i] == true){
                    self.helper_city(myChart,i);
                    // 记录选择
                    self.mapData.mapCtr.city = i;         // 记录选择了哪个省
                    self.mapData.mapCtr.county = "";      // 清空选择的市
                    break;
                }
            }
        },
        // 一级辅助函数 --> 进入某市的设置
        help_county(myChart,param){
            var self = this;
            // (1) 把Level标识成 市级level
            self.mapData.mapCtr.level = 2;
            // (2) 查看哪个市被点击了
            var selected = param.selected;
            for (var i in selected) {
                if(selected[i] == true){
                    self.helper_county(myChart,i);
                    // 记录选择
                    self.mapData.mapCtr.county = i;      // 记录选择了哪个市
                    break;
                }
            }
        },
        // 二级辅助函数 --> 直接设置某省
        helper_city(myChart,i){
            var self = this;
            self.mapData.option.series[0].mapType = i;
            self.mapData.option.series[0].data = self.mapData.city;
            self.mapData.option.tooltip.formatter = '点击进入该市<br/>{b}';
            self.mapData.option.title.subtext = i + ' （点击或滚动滚轮进行地图切换）';
            myChart.setOption(self.mapData.option, true);
        },
        // 二级辅助函数 --> 直接设置某市
        helper_county(myChart,i){
            var self = this;
            self.mapData.option.series[0].mapType = i;
            self.mapData.option.series[0].data = self.mapData.county;
            self.mapData.option.tooltip.formatter = '点击进入该市<br/>{b}';
            self.mapData.option.title.subtext = i + ' （点击或滚动滚轮进行地图切换）';
            myChart.setOption(self.mapData.option, true);
        },
        // 二级辅助函数 --> 直接设置全国
        helper_china(myChart){
            var self = this;
            self.mapData.option.series[0].mapType = 'china';
            self.mapData.option.series[0].data = self.mapData.china;
            self.mapData.option.tooltip.formatter = '点击进入该市<br/>{b}';
            self.mapData.option.title.subtext = 'china （点击或滚动滚轮进行地图切换）';
            myChart.setOption(self.mapData.option, true);
        },
        /***********************************************************/
        // 测试地图
        mapInit(){
            var self = this;
            // 1,初始化eChart
            var myChart    = echarts.init(document.getElementById('main'));
            var ecConfig   = echarts.config;
            var zrEvent    = zrender.tool.event;
            var mapGeoData = echarts.util.mapData.params;
            this.mapData.option.series[0].data = this.mapData.china;
            // 2,初始化县市变量
            var city_code = this.mapData.city_code;  
            for (var city in city_code) {
                mapGeoData.params[city] = {
                    getGeoJson: (function (c) {
                        var geoJsonName = city_code[c];
                        return function (callback) {
                            $.getJSON('http://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/cheChang_jsonData/' + geoJsonName + '.json', callback);
                        }
                    })(city)
                }
            }
            // 3,绑定 地图点击事件
            myChart.on(ecConfig.EVENT.MAP_SELECTED, function (param){
                // 1,在全国地图上点击某个省
                if(self.mapData.mapCtr.level == 0){
                    // 设置为某个省
                    self.help_city(myChart,param);
                }
                // 2,在某个省上点击某个市
                else if(self.mapData.mapCtr.level == 1){
                    // 设置为某个市
                    self.help_county(myChart,param);
                }
            });
            // 4,绑定 滚轮滚动事件
            document.getElementById('main').onmousewheel = function (e){
                // 上滚动还是下滚动
                var event = e || window.event;
                var dir = zrEvent.getDelta(event) > 0 ? (-1) : 1;
                // 下滚动: 向下进入页面
                if(dir < 0){
                    // 在第一个level滚动
                    if(self.mapData.mapCtr.level == 0){
                        // 已经选择了某个省
                        if(self.mapData.mapCtr.city != ""){
                            self.mapData.mapCtr.level = 1;
                            self.helper_city(myChart,self.mapData.mapCtr.city);
                        }
                    }
                    // 在第二个level滚动
                    else if(self.mapData.mapCtr.level == 1){
                        // 已经选择了某个市
                        if(self.mapData.mapCtr.county != ""){
                            self.mapData.mapCtr.level = 2;
                            self.helper_county(myChart,self.mapData.mapCtr.county);
                        }
                    }
                }   
                // 上滚动: 向上进入页面
                else{
                    // 在第二个level滚动
                    if(self.mapData.mapCtr.level == 2){
                        // 已经选择了某个省
                        if(self.mapData.mapCtr.city != ""){
                            self.mapData.mapCtr.level = 1;
                            self.helper_city(myChart,self.mapData.mapCtr.city);
                        }
                    }
                    // 在第一个level滚动
                    else if(self.mapData.mapCtr.level == 1){
                        // 进入china
                        self.mapData.mapCtr.level = 0;
                        self.helper_china(myChart);
                    }
                }             
                zrEvent.stop(event);
            };
            // 5,设置option
            myChart.setOption(this.mapData.option);
        },
    }
}
</script>
<style>
</style>
